<div class="field">
	<%= f.fields_for :address do |address| %>
	
	<div class="field">
	<%= address.label :name, "Name" %>
	<%= address.text_field :name %> <br/>
	</div>

	<div class="field">
	<%= address.label :street_address, "Street Address" %><br/>
	<%= address.text_area :street_address %> <br/>
	</div>

	<div class="field">
	<%= address.label :landmark, "Landmark" %>
	<%= address.text_field :landmark %> <br/>
	</div>

	<div class="field">
	<%= address.label :country_id, "Country" %>
	<%= address.collection_select :country_id, Country.all, :code, :name %> <br/>
	</div>

	<div class="field">
	<%= address.label :state %>
	<div id="state_id_container">
		<%= render "states", user: user %>
	</div>
	</div>
    

	<!-- <div class="field">
	<%= address.label :city, "City" %>
	<div id="city_id_container">
		<%#= render "cities", user: user %>
	</div> -->
	<%#= address.collection_select :city_id, City.all, :code, :name %> <br/>
	</div>



	<div class="field">
	<%= address.label :pincode, "Pincode" %>
	<%= address.text_field :pincode %> <br/>
	</div>

	<div class="field">
	<%= address.label :phoneno, "Phone Number" %>
	<%= address.text_field :phoneno %> <br/>
	</div>

	<% end %>
</div>