<br>
<div class="form-container">
<h3><b>Contact Details</b></h3>
	<%= f.fields_for :address do |address| %>
	
	<div class="field">
	<%= address.label :name, "Name" %>
	<%= address.text_field :name %> <br/>
	</div>

	<div class="field">
	<%= address.label :street_address, "Address" %>
	<%= address.text_area :street_address %> <br/>
	</div>

	<div class="field">
	<%= address.label :landmark, "Area/Landmark" %>
	<%= address.text_field :landmark %> <br/>	
	</div>

	<div class="field">
	<%= address.label :country_id, "Country" %>
	<%= address.collection_select :country_id, Country.all, :code, :name, prompt: true ,class: "medium"%> 
	</div>

	<div class="field">
	<%= address.label :state %>
	<div id="state_id_container">
		<%= render "states", country: user.address.country if user.address.country.present? %>
	</div>
	</div>

	<div class="field">
	<%= address.label :city, "City" %>
	<div id="city_id_container">
		<%= render "cities", state: user.address.state if user.address.state.present? %>
	</div>
	</div>

	<div class="field">
	<%= address.label :pincode, "Pincode" %>
	<%= address.text_field :pincode %> <br/>
	</div>

	<div class="field">
	<%= address.label :phoneno, "Phone Number" %>
	<%= address.text_field :phoneno %> <br/>
	</div>

	<% end %>
</div>