<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }) do |f| %>
<%= devise_error_messages! %>

<div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <p>
        <%= f.label :roles %><br />
        <% Role.all.each do |role| %>
        <%= check_box_tag :role_ids,role.id,@user.roles.include?(role),:name => 'user[role_ids][]' %>
        <%= role.name %><br />
        <% end %>
      </p>
      <div class="field">
        <%= f.fields_for :attachment do |attach| %>
        <%= attach.label :file, "Upload Photo" %><br />
        <%= attach.file_field :file %> <br/>     
        <% end %>
      </div>
      <br/>

      <div><%= f.submit "Sign up" %></div>
      <% end %>

      <%= render "devise/shared/links" %>
