<div id="comments">
	<% @comments.each do |comment| %>
	<div class="comment">
		<strong><%= h(comment.user.email) %></strong><em> on<%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>
		<%= simple_format comment.content %>
		<%= pluralize comment.reputation_for(:votes).to_i, "vote" %>
		<% if comment.commentable.present? && comment.commentable.class.name.eql?("Photo") %>
			|  <%= link_to "up", vote_for_photo_photo_comment_path(comment.commentable,comment, type: "up"), method: "post" %>
		| <%= link_to "down", vote_for_photo_photo_comment_path(comment.commentable,comment,type: "down"), method: "post" %>
		<% else %>
		|  <%= link_to "up", vote_for_article_article_comment_path(comment.commentable,comment, type: "up"), method: "post" %>
		| <%= link_to "down", vote_for_article_article_comment_path(comment.commentable,comment,type: "down"), method: "post" %>
		<% end %>
	</div>
	<% end %>
</div>
