<style type="text/css">
	h2, h5, span {
		display: inline;
	}

</style>

<h1>Articles</h1>

<%= form_tag articles_path, :method => :get do %>
  
   <div class="row">
    <div class="large-9 columns">
     <span><%= text_field_tag :search, params[:search]  %></span>
     <span><%= submit_tag "Search", :name => nil %></span>
    </div>
  </div>
  
    
  
<% end %>
<br/>
<div id="tag_cloud">
  <% tag_cloud Article.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<br/>
<% if params[:tag].blank?  %>
<div id="facets">
  <h3>Published</h3>
  <ul>
    <% for row in @search.facet(:published_month).rows %>
      <li>
        <% if params[:month].blank? %>
          <%= link_to row.value, :month => row.value %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "remove", :month => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>

<p><%= link_to "New Article", new_article_path %></p>

<div id="static-pagination">
  <%= will_paginate %>
</div>

<div id="articles">
<div class="page-delimiter first-page" data-page="<%= params[:page] || 1 %>"></div>
<%= render @articles %>
</div>

<% if @articles.next_page %>
    <div id="infinite-scrolling" align="center">
      <%= will_paginate %>
    </div>
<% end %>

