<script>
  $(document).ready(function(){
    $('#star').raty({
      readOnly: true,
      score: <%= @article.average_rating %>,
      path: '/assets'
    });

    $('#user_star').raty({
      score: <%= @rating.score %>,
      path: '/assets',
      click: function(score, evt) {
        $.ajax({
          url: '/ratings/' + <%= @rating.id %>,
          type: 'PUT',
          data: { score: score }
        });
      }
    });

  });
</script>
<h1><%= @article.name %></h1>

<p>Average rating</p>
<div id="star"></div>

<p>Your rating</p>
<div id="user_star"></div>

<%= simple_format @article.content %>

<p><%= link_to "Back to Articles", articles_path %></p>

<h2>Comments</h2>

<%= render "comments/comments" %>
<%= render "comments/form" %>
