<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<br/>
<div class="field">   
  <%= f.label :email, "Email" %>&nbsp;:&nbsp;&nbsp;&nbsp;
  <%= @user.email %><br />
</div>  
<div class="field">
  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %>
</div>
<div class="field">
  <%= f.label :password, "Password" %><br />
  <%= f.password_field :password, :autocomplete => "off"  %>
</div>
<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
</div>
<div class="action_container">
  <%= f.submit %>
</div>
<% end %>