<div class="row">
  <div class="large-12 columns">
    <img src="<%= asset_path 'composition.jpg' %>", alt="http://placehold.it/1000x400&text=[img]">
    <hr>


<% if @musics.count > 0 %>
	<% if @featured_musics.count > 0 %>
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
			<% @@featured_musics.each do |music| %>
				<li><h2><%= music.title %></h2>
				<% unless music.summary =="" %>
					<p><%= music.summary %></p>
				<% end %>
				<a href="<%= piece_path(:title => music.title) %>" class="button round">More</a></li>
			<% end %>
		</ul>
	<% end %>
	<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		<% (@musics - @featured_musics).each do |music| %>
			<li><h2><%= music.title %></h2>
			<% unless music.summary =="" %>
				<p><%= music.summary %></p>
			<% end %>
			<a href="<%= piece_path(:title => music.title) %>" class="button round">More</a></li>
		<% end %>
	</ul>
<% end %>

  </div>
</div>