<nav class="top-bar">

  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Music Site", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
  <section class="top-bar-section">
  <ul class="right">  
      <li class="divider"></li>
      <li><%= link_to "Home", root_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Articles", articles_path %></li>
      <li class="divider"></li>
      <% if user_signed_in? %>
      <li><%= link_to_unless_current "Articles", articles_path %></li> <li class="divider"></li>
      <li><%= link_to_unless_current "Photo Gallery", photos_path %></li> <li class="divider"></li>
      <li><%= link_to_unless_current "Events", events_path %></li>      <li class="divider"></li>
      <li><%= link_to "Account", edit_user_registration_path %></li> <li class="divider"></li>
      <li><%= link_to "Change your password", edit_user_path %></li> <li class="divider"></li>
      Signed in as <%= current_user.email %>. Not you? 
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li> <li class="divider"></li>
      <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %></li> 
      <% end %>
    </ul>
  </section>
</nav>